In [2]:
import pandas as pd

google = pd.read_csv('data/google_june_2020.csv', index_col = 0)
msft = pd.read_csv('data/msft_june_2020.csv', index_col = 0)
amzn = pd.read_csv('data/amzn_june_2020.csv', index_col = 0)

In [3]:
google.info

<bound method DataFrame.info of           Date        Close   Volume Symbol
0   2020-06-01  1434.869995  1258100  GOOGL
1   2020-06-02  1442.310059  1172100  GOOGL
2   2020-06-03  1439.250000  1386600  GOOGL
3   2020-06-04  1414.300049  1349100  GOOGL
4   2020-06-05  1440.020020  2132100  GOOGL
5   2020-06-08  1448.040039  1693900  GOOGL
6   2020-06-09  1452.079956  1681200  GOOGL
7   2020-06-10  1464.699951  1588100  GOOGL
8   2020-06-11  1401.900024  2357200  GOOGL
9   2020-06-12  1412.920044  1832900  GOOGL
10  2020-06-15  1420.739990  1523400  GOOGL
11  2020-06-16  1446.469971  1532400  GOOGL
12  2020-06-17  1452.540039  1528300  GOOGL
13  2020-06-18  1434.119995  1743100  GOOGL
14  2020-06-19  1424.640015  2639200  GOOGL
15  2020-06-22  1450.660034  1472100  GOOGL
16  2020-06-23  1463.979980  1887600  GOOGL
17  2020-06-24  1432.699951  1579600  GOOGL
18  2020-06-25  1441.099976  1197900  GOOGL
19  2020-06-26  1362.540039  4882000  GOOGL
20  2020-06-29  1397.170044  2253700  GOOGL
21  2020-06-30  1418.050049  2014300  GOOGL>

In [ ]:
google.head(2)

### Concatenation of Tidy Data Source

In [4]:
all_df = pd.DataFrame()
all_df = all_df.append([google, msft, amzn])

In [ ]:
all_df.info()
all_df.head()

In [ ]:
all_df.reset_index(drop=True, inplace=True)

### Concatenation of Tidy Data Source - pd.concat()

In [ ]:
all_df = pd.concat([google, msft, amzn])
all_df.reset_index(drop=True, inplace=True)
all_df.head()

In [ ]:
all_df.shape

### Lecture 4 - Multi-level Indexing

In [ ]:
google = pd.read_csv('data/google_june_2020.csv', index_col = 0)
msft = pd.read_csv('data/msft_june_2020.csv', index_col = 0)
amzn = pd.read_csv('data/amzn_june_2020.csv', index_col = 0)
all_df = pd.concat([google, msft, amzn])
all_df.reset_index(drop=True, inplace=True)
all_df.head()

In [ ]:
all_df.set_index(['Symbol', 'Date'], inplace=True)

In [ ]:
all_df.head(2)

In [ ]:
all_df.sort_index(inplace=True)
all_df.head()

In [ ]:
all_df.loc[('AMZN', '2020-06-01'),:]

In [ ]:
all_df.loc[('AMZN', '2020-06-01'),'Close']

In [ ]:
all_df.index.levels

In [ ]:
all_df.index.levels[0]

In [ ]:
all_df.index.levels[1]

In [ ]:
all_df.loc[(['AMZN','GOOGL'], '2020-06-01'),'Close']

### Lecture 5 - Merging Tidy Data

In [ ]:
google = pd.read_csv('data/google_june_2020.csv', index_col = 0)
msft = pd.read_csv('data/msft_june_2020.csv', index_col = 0)
amzn = pd.read_csv('data/amzn_june_2020.csv', index_col = 0)
all_df = pd.concat([google, msft, amzn])
all_df.reset_index(drop=True, inplace=True)
all_df.head()

In [ ]:
all_df_columns = pd.concat([google, msft, amzn], axis = 1)

In [ ]:
all_df_columns.head()

In [ ]:
pd.concat([google, msft, amzn], axis = 1, verify_integrity=True)

In [ ]:
def new_agg_df(df):
    
    my_list = []
    symbol = df['Symbol'].drop_duplicates().values[0]
    df.drop(['Symbol'], axis=1, inplace=True)
    df.set_index('Date', inplace=True)
    my_list = [symbol+'_'+elem for elem in df.columns]
    df.columns = my_list


    return df

In [ ]:
amzn_agg = new_agg_df(amzn)
msft_agg = new_agg_df(msft)
google_agg = new_agg_df(google)

In [ ]:
amzn_agg.head()

In [ ]:
amzn_agg.reset_index().merge(msft_agg.reset_index(), on = 'Date').head()

In [ ]:
amzn_agg.reset_index().merge(msft_agg.reset_index(), left_on = 'Date', right_on = 'Date', how='inner').head()

In [ ]:
all_df_agg = amzn_agg.merge(msft_agg, left_index=True, right_index=True).merge(
    google_agg,  left_index=True, right_index=True
)

all_df_agg.head()

### Lecture 6 - Transformation of a Dataset

In [5]:
google = pd.read_csv('data/google_june_2020.csv', index_col = 0)
msft = pd.read_csv('data/msft_june_2020.csv', index_col = 0)
amzn = pd.read_csv('data/amzn_june_2020.csv', index_col = 0)
all_df = pd.concat([google, msft, amzn])
all_df.reset_index(drop=True, inplace=True)
all_df.head()

         Date        Close   Volume Symbol
0  2020-06-01  1434.869995  1258100  GOOGL
1  2020-06-02  1442.310059  1172100  GOOGL
2  2020-06-03  1439.250000  1386600  GOOGL
3  2020-06-04  1414.300049  1349100  GOOGL
4  2020-06-05  1440.020020  2132100  GOOGL

In [6]:
pivot_clone = all_df.pivot(
    index = 'Date',
    columns = 'Symbol',
    values = 'Close'
).sort_index()

In [7]:
pivot_clone.head()

Symbol             AMZN        GOOGL        MSFT
Date
2020-06-01  2471.040039  1434.869995  182.830002
2020-06-02  2472.409912  1442.310059  184.910004
2020-06-03  2478.399902  1439.250000  185.360001
2020-06-04  2460.600098  1414.300049  182.919998
2020-06-05  2483.000000  1440.020020  187.199997

In [8]:
pivot_clone_volume = all_df.pivot(
    index = 'Date',
    columns = 'Symbol',

).sort_index()
pivot_clone_volume.head()

                  Close                            Volume
Symbol             AMZN        GOOGL        MSFT     AMZN    GOOGL      MSFT
Date
2020-06-01  2471.040039  1434.869995  182.830002  2928900  1258100  22622400
2020-06-02  2472.409912  1442.310059  184.910004  2529900  1172100  30794600
2020-06-03  2478.399902  1439.250000  185.360001  2671000  1386600  27311000
2020-06-04  2460.600098  1414.300049  182.919998  2948700  1349100  28761800
2020-06-05  2483.000000  1440.020020  187.199997  3306400  2132100  39893600

In [9]:
another_df = all_df.set_index(['Symbol','Date'])
unstacked_df = another_df.unstack(level = 'Symbol')
unstacked_df.head()

                  Close                            Volume
Symbol             AMZN        GOOGL        MSFT     AMZN    GOOGL      MSFT
Date
2020-06-01  2471.040039  1434.869995  182.830002  2928900  1258100  22622400
2020-06-02  2472.409912  1442.310059  184.910004  2529900  1172100  30794600
2020-06-03  2478.399902  1439.250000  185.360001  2671000  1386600  27311000
2020-06-04  2460.600098  1414.300049  182.919998  2948700  1349100  28761800
2020-06-05  2483.000000  1440.020020  187.199997  3306400  2132100  39893600

In [10]:
unstacked_df.stack(level='Symbol').head()

                         Close    Volume
Date       Symbol
2020-06-01 AMZN    2471.040039   2928900
           GOOGL   1434.869995   1258100
           MSFT     182.830002  22622400
2020-06-02 AMZN    2472.409912   2529900
           GOOGL   1442.310059   1172100

In [11]:
stacked_df = unstacked_df.stack(level = 'Symbol')
swapped_df = stacked_df.swaplevel('Symbol', 'Date')
swapped_df.head()

                         Close    Volume
Symbol Date
AMZN   2020-06-01  2471.040039   2928900
GOOGL  2020-06-01  1434.869995   1258100
MSFT   2020-06-01   182.830002  22622400
AMZN   2020-06-02  2472.409912   2529900
GOOGL  2020-06-02  1442.310059   1172100

In [12]:
swapped_df.sort_index().head()

                         Close   Volume
Symbol Date
AMZN   2020-06-01  2471.040039  2928900
       2020-06-02  2472.409912  2529900
       2020-06-03  2478.399902  2671000
       2020-06-04  2460.600098  2948700
       2020-06-05  2483.000000  3306400

### Melting with Pandas

In [40]:
all_df.melt(id_vars=['Symbol','Date'])

    Symbol        Date variable         value
0    GOOGL  2020-06-01    Close  1.434870e+03
1    GOOGL  2020-06-02    Close  1.442310e+03
2    GOOGL  2020-06-03    Close  1.439250e+03
3    GOOGL  2020-06-04    Close  1.414300e+03
4    GOOGL  2020-06-05    Close  1.440020e+03
..     ...         ...      ...           ...
127   AMZN  2020-06-24   Volume  4.526600e+06
128   AMZN  2020-06-25   Volume  2.968700e+06
129   AMZN  2020-06-26   Volume  6.500800e+06
130   AMZN  2020-06-29   Volume  4.223400e+06
131   AMZN  2020-06-30   Volume  3.769700e+06

[132 rows x 4 columns]

### Aggregating Results with Pandas

In [48]:
pivot_close = all_df.pivot(
    index = 'Symbol',
    columns = 'Date',
    values = 'Close'
).sort_index().reset_index()


mean_pivot = pd.DataFrame()

mean_pivot['Symbol']=pivot_close['Symbol'].to_list()
mean_pivot['average_price'] = pivot_close.set_index('Symbol').apply(
    lambda x: x.mean(), axis = 1
).to_list()

mean_pivot.set_index('Symbol')

        average_price
Symbol
AMZN      2613.545455
GOOGL     1431.595465
MSFT       192.699547

In [49]:
# same result, but with only a few lines of code

all_df.pivot_table(
    index='Symbol',
    values='Close',
    aggfunc='mean',
)

              Close
Symbol
AMZN    2613.545455
GOOGL   1431.595465
MSFT     192.699547

In [56]:
# same result, but with only a few lines of code

all_df.pivot_table(
    index='Symbol',
    values='Close',
    aggfunc=['mean','median','min','max','std']
)

               mean       median          min          max         std
              Close        Close        Close        Close       Close
Symbol
AMZN    2613.545455  2628.125000  2460.600098  2764.409912  103.058783
GOOGL   1431.595465  1437.059998  1362.540039  1464.699951   23.948642
MSFT     192.699547   193.905006   182.830002   203.509995    6.470116

### The groupby in Pandas

In [62]:
grouped_stocks = all_df.groupby('Symbol')['Close'].mean()
grouped_stocks.head()

Symbol
AMZN     2613.545455
GOOGL    1431.595465
MSFT      192.699547
Name: Close, dtype: float64

In [63]:
grouped_stocks.to_frame()

              Close
Symbol
AMZN    2613.545455
GOOGL   1431.595465
MSFT     192.699547

In [65]:
grouped_stocks = all_df.groupby('Symbol')['Close'].agg(['mean','median', 'max'])
grouped_stocks

               mean       median          max
Symbol
AMZN    2613.545455  2628.125000  2764.409912
GOOGL   1431.595465  1437.059998  1464.699951
MSFT     192.699547   193.905006   203.509995

In [66]:
grouped_stocks = all_df.groupby('Symbol').agg({'Close':['median','mean'],'Volume': ['max']})
grouped_stocks

              Close                 Volume
             median         mean       max
Symbol
AMZN    2628.125000  2613.545455   6500800
GOOGL   1437.059998  1431.595465   4882000
MSFT     193.905006   192.699547  54675800